.news-add-warp {
  .site-page-header {
    padding: 0;
  }
  .step-warp {
    margin: 30px 0 50px 0;
    padding: 0 30px;
  }
  .content-warp {
    .hidden {
      display: none;
    }
    .news-info-form {
      width: 450px;
    }
  }
  .btns-warp {
    margin-top: 50px;
  }
}
