.home-warp {
  .hello-warp {
    height: 90px;
    background-color: pink;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: #e6f7ff;
  }
  .card-item {
    width: 100%;
  }
}