@import '~antd/dist/antd.css';

/* 修改滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #e4e6eb;
  outline: none;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 2px;
}
